# gym provides an API for emulating various games, including Blackjack.
# It has been replaced by gymnasium, with last version of gym being 0.26.2.
# However, both gymnasium and latest version of gym have a Blackjack API
# that is incompatible with the course code, so we use the version of gym
# shown in the course's requirements.txt.
gym==0.17.2
jupyter==1.0.0
keras==2.13.1
librosa==0.10.1
matplotlib==3.7.2
numba==0.58.1
# latest numpy is 1.25.0, but tensorflow requires a lower version
numpy==1.24.3
pandas==2.0.3
Pillow==10.0.0
scikit-learn==1.3.0
tensorflow==2.13.0
